@charset "utf-8";
/* CSS Document */
.top{
	width:1200px;
	height:43px;
	border-bottom:2px solid #EDEEF0;
}
.top .zhanghao{
	width:111px;
}
.top span{
	font-family:"宋体";
	font-size:12px;
	color:#999999;
}
.top form{
	float:left;
}
.top a{
	float:left;
	display:inline-block;
	width:44px;
	height:24px;
	color:#999;
	text-align:center;
	line-height:24px;
	margin-top:8px;
	margin-left:15px;
}
.top a:hover{
	color: #F00;
}
.top i{
	font-style:normal;
	
}
.top i a{
	float:right;
	display:inline-block;
	width:100px;
	height:24px;
	color:#999;
	text-align:center;
	line-height:24px;
	margin-top:8px;
}
#whole{
	width:100%;
	height:43px;
	border-bottom:2px solid #EDEEF0;
}
.logo{
	margin-top:24px;
	width:1200px;
	height:54px;
}
.logo img{
	float:left;
}
.logo ul{
	width:828px;
	height:54px;
	padding-left:370px;
	text-align:center;
}
.logo ul li{
	width:48px;
	height:30px;
	margin-right:51px;
	float:left;
}
.logo ul li a{
	display:inline-block;
	height:12px;
	width:48px;
	font-size:12px;
	color:#000;
	
}
.logo ul li a:hover{
	color:#FA4E7E;
}
.bigPic{
	margin-top:24px;
}
.box{
	background-color:#F6F6F6;
	width:1200px;
	height:81px;
	border-bottom:1px solid #DBDBDB;
}
.box img {
	float:left;
	margin-top:27px;
	margin-left:163px;
}
.box p{
	float:left;
	font-size:15px;
	line-height:34px;
	margin-left:9px;
	margin-top:27px;
	
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
 	 border: solid 1px #000;
	 margin:26px 0;
  /*很关键：将默认的select选择框样式清除*/
  	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
 	 background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
	width:100px;
  	height:34px;
	color:#999999;
	padding-left:8px;
	background-color:#FFF;
	
	}
 
select::-ms-expand { display: none; }
.box a{
	display:inline-block;
	width:120px;
	height:34px;
	font-size:16px;
	background-color:#FA4E7E;
	color:#FFF;
	line-height:34px;
	text-align:center;
	margin-top:1px;
}
.LeftTitle{
	width:272px;
	height:680px;
	float:left;
}
.LeftTitle h3{
	width:272px;
	height:26px;
	display:inline-block;
	border-bottom:2px solid #CCC;
	padding-top:25px;
}
.LeftTitle i{
	font-style:normal;
	font-size:17px;
	width:115px;
	height:24.6px;
	display:inline-block;
	border-bottom:2px solid #FB4E7E;
	text-align:center;
	color:#FB4E7E;
	
}
.LeftTitle ul li{
	line-height:26px;
	width:272px;
	height:26px;
}
.LeftTitle ul li a{
	font-size:14px;
	color:#000;
}
#ope{
	margin-right:22px;
	margin-left:44%;
}
#vio{
	margin-right:6px;
	float:right;
}
.tv{
	width:1200px;
	height:770px;
}
.LeftTitle p{
	display:inline-block;
	width:270px;
	height:57px;
	background-color:#FCFCFC;
	border:1px solid #F9F9F9;
	margin-top:20px;

}
.LeftTitle p a{
	display:inline-block;
	width:102px;
	height:34px;
	background-color:#FB4E7E;
	line-height:34px;
	color:#FFF;
	font-size:16px;
	text-align:center;
	margin-left:50px;

}
.LeftTitle p a:hover{
	background-color:#F39;
	color:#000;
	
}
.LeftTitle p span{
	display:inline-block;
	font-size:23px;
	padding-left:10px;
	margin-top:16px;
}
.middleRight{
	width:868px;
	height:312px;
	float:right;
	margin-top:35px;
}
.middleRight h5 {
	font-style:normal;
	font-size:18px;
	color:#FA4E7E;
	display:inline-block;
	width:854px;
	height:21px;
	padding-left:15px;
	line-height:21px;
	background:url(../imgs/shuxian.png) no-repeat left center;
}
.middleRight ul p{
	width:235px;
	font-size:12px;
	line-height:18px;
}
.middleRight ul li a{
	font-size:14px;
	line-height:18px;
	display:inline-block;
	width:235px;
	height:24px;
	color:#000;
	font-size:12px;
	font-weight:bolder;
	
}
.middleRight ul li{
	width:235px;
	height:86px;
	float:left;
	margin-right:80px;
}
.middleRight ul{
	width:868px;
	height:293px;
}
.bottom{
	width:1200px;
	height:500px;
	border-color:#FAFAFA;
	text-align:center;
}
#bottom{
	width:100%;
	border-top:1px solid  #CCC;

}
.bottom p a{
	font-size:12px;
	color:#000;
}
.bottom p span{
	font-size:12px;
	color:#000;
}
.bottom p {
	line-height:28px;
	font-size:12px;
}
.bottom span{
	padding-left:3px;
}